/* Styles for the login and sign-up sections */
header {
    background-color: #FF8C00;
    color: white;
    padding: 10px 0;
}

nav {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 24px;
    font-family: "Copperplate", fantasy; 
}

nav ul {
    list-style: none;
    display: flex;
}

nav ul li {
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: white;
}

.login {
    max-width: 850px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login-form {
    padding: 20px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    margin-top: 70px;
    margin-bottom: 20px;
}

.login-form h2 {
    margin-bottom: 20px;
}

.login-form form {
    display: flex;
    flex-direction: column;
}

.login-form label {
    margin-bottom: 5px;
}

.login-form input {
    padding: 10px;
    margin-bottom: 15px;
}

.login-form button {
    padding: 15px 30px;
    background-color: #FF8C00;
    color: white;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
}

.signup-link {
    text-align: center;
}

.signup-link p {
    margin-bottom: 10px;
}

.signup-link a {
    text-decoration: none;
    color: #3498db;
    font-weight: bold;
}

.signup-link a:hover {
    text-decoration: underline;
}

.back-to-home {
    text-align: center;
}

.back-to-home p {
    margin-bottom: 20px;
}

.back-to-home a {
    text-decoration: none;
    color: #3498db;
    font-weight: bold;
}

.back-to-home a:hover {
    text-decoration: underline;
}
